<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
</head>
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #5CB85C">
    <a class="navbar-brand" href="#">Urplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Ofrece tu espacio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </nav>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/logo.png" alt="" width="150" height="150  ">
    <h2>Bienvenido a UrPlace</h2>
    <p class="lead">Tus propiedades disponibles en renta</p>
  </div>

  <div class="row">
      <div class="col-md-4 order-md-1">
      <h4 class="mb-3">Información</h4>
      <div class="row">
          <div class="col-md-6 mb-3">
            <i class="material-icons">face</i><p>Juanita Del Valle</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
            <i class="material-icons">phone</i><p>55-30-40-56</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
            <i class="material-icons">event</i><p>Se unió en junio de 2011</p>
          </div>
      </div>
     
    </div>
  
  <div class="col-8 col-md-8">

    <div class="ml-3 mr-3 ml-md-5 border shadow-sm p-3 mb-1 bg-white rounded">
     
    <!--Para la foto--> 
    <div class="row">
      <div class="col-9">
        <span class="float-right">
          <i class="material-icons" style="color:red;">favorite</i>
        </span>

      <h3 class="titulo">Mi casa 1</p>
      
      <p>Casa cercana al ITAM con todos los servicios y buen ambiente para convivencia.</p>



        <span class="align-text-bottom float-left">
          <i class="material-icons" style="color:orange;">
          star
          </i>

          <i class="material-icons" style="color:orange;">
          star
          </i>

          <i class="material-icons" style="color:orange;">
          star
          </i>

          <i class="material-icons" style="color:orange;">
          star
          </i>

          <i class="material-icons" style="color:orange;">
          star_half
          </i>
        </span>

        
      
    </div>
</div>
<br>

      
    </div>
    <br>
    <%= button_to "+ Añadir nuevo ", new_house_path, method: 'get', class: 'btn ml-5 btn-dange', style: 'color:white; background-color:green;'%>
    

  </div>

</div>

<footer class="container"><br>
    <p class="float-right"><a href="#" style="color: #5DB95D">Ir a arriba</a></p>
    <p>© 2019 Ur Place. · <a href="#" style="color: #5DB95D">Privacidad</a> · <a href="#" style="color: #5DB95D">Términos</a></p>
  </footer>